html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    line-height: 135%;
    /*text-align: justify;*/
    word-wrap: break-word;
    hyphens: auto;
    transition-duration: 0.8s;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
}

a {
    color: #003b80;
    transition: color 0.8s ease-in-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

address {
    font-style: normal;
}

section div > p:first-child {
    margin-top: 0;
}

section div > p:last-child {
    margin-bottom: 0;
}

section#aboutme > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section#aboutme > div > div > div {
    margin-top: 0.5em;
}

section#aboutme address + div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section#aboutme address + div > div > div:first-of-type {
    flex-basis: 5em;
    flex-grow: 0;
    flex-shrink: 0;
}

section#aboutme address + div > div > div:first-of-type:after {
    content: ":";
}

section > h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

section#aboutme > div > div:first-of-type {
    margin-left: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}


section#aboutme img {
    width: 100%;
}

section#aboutme > div > div:last-of-type {
    flex-basis: 5.5cm;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    margin-left: 1em;
}

section.timeline > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1em;
    margin-bottom: 1em;
}

section.timeline > div > div > aside {
    font-size: 80%;
    line-height: 90%;
    padding-left: 0.2em;
    margin-bottom: 0.4em;
}

section.timeline > div > div:first-child {
    flex-basis: 10.5em;
    flex-shrink: 0;
    flex-grow: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section#skills > div > div > div {
    margin-bottom: 0.2em;
}

section#skills > div > div > div > div:last-child {
    margin-left: 1.5em;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
    filter: blur(0.6em);
    opacity: 0;
    transition: opacity 2.5s linear;
}
canvas.loaded {
    opacity: 1;
}
