@page {
    size: A4;
    margin: 2cm;

    @bottom-left {
        content: counter(page) "/" counter(pages);
    }
}

body {
    font-family: Georgia, serif;
}

#toggles {
    display: none;
}

section {
    page-break-after: avoid;
    page-break-inside: avoid;
}

section.timeline > div {
    page-break-inside: avoid;
}

a {
    color: black;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

abbr[title]:after {
    content: ' (' attr(title) ')';
    hyphens: unset;
}

canvas {
    display: none;
}

a[href^="http"].printable:after {
    content: ' (' attr(href) ')';
}